/* General styles */
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  height: 100%;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  line-height: 2;
  color: #66BFBF;
  margin: 0%;
  text-align: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
  color: #66BFBF;
  padding-bottom: 20px;
  text-align: center;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

/* Top section styles */
.top-container {
  background-color: #eaf6f6;
  padding-top: 135px;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
  margin: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

/* Navigation styles */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 70px;
}

li {
  margin: 0 10px;
}

nav a {
  display: block;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  background-color: #f8f8f8;
}


a {
  color: #000;
  text-decoration: none;
}

/* Middle section styles */
#middle-container {
  background-color: white;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.profile {
  max-width: 800px;
  padding: 20px;
}

.profile img {
  border-radius: 100px;
  width: 20%;
  height: auto;
  margin-bottom: 20px;
}
.profile h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.profile p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #40514E;
  margin: 100px auto;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
}

#skills {
  text-align: center;
  background-color: #eaf6f6;
}

.skill-row {
  max-width: 600px;
  margin: 50px auto;
  text-align: left;
}

.skill-row h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.skill-row p {
  margin-top: 0;
  margin-bottom: 20px;
}

.web-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.programming-img {
  float: right;
  margin-left: 30px;
  width: 20%;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.project {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.project img {
  border-radius: 50%;
  height: 150px;
  margin-bottom: 10px;
  transition: transform 0.2s ease-in-out;
  width: 150px;
}

.project img:hover {
  transform: scale(1.1);
}

.project .Project-text {
  line-height: 2;
  margin: 20px auto;
  text-align: center;
  width: 60%;
}

  .bottom-container {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px; /* adjust as needed */
    background-color: #66BFBF;
    padding: 50px 0 10px;
    box-sizing: border-box;
  }
  
.booking-form {
  margin-top: 30px;
}

.booking-form h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.booking-form input[type="text"],
.booking-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.booking-form button {
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.booking-form button:hover {
  background-color: #27ae60;
}

#datepicker,
#timepicker {
  width: 120px;
}

#projects{
background-color: #fff;
}

/* Media queries */
@media only screen and (max-width: 600px) {
  /* Top container */
  .top-container {
    padding-top: 80px;
  }

  .top-cloud {
    display: none;
  }

  .bottom-cloud {
    display: none;
  }

  /* Navigation */
  ul {
    flex-direction: column;
    height: auto;
  }

  li {
    margin: 10px 0;
  }

  nav a {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }

  nav a:last-child {
    border-bottom: none;
  }

  /* Profile */
  .profile img {
    max-width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 767px) {
  /* Adjust these styles as necessary */
  body {
    font-size: 14px;
    line-height: 1.4;
    max-width: 100%;
    padding: 20px;
  }
}
@media only screen and (max-width: 767px) {
  h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  #skills {
    padding: 30px;
  }
  
  .skill-row {
    text-align: center;
  }
  
  .skill-row h3 {
    margin-top: 30px;
    font-size: 24px;
  }
  
  .skill-row p {
    font-size: 16px;
  }
  
  canvas {
    max-width: 100%;
  }
}

/* Styles for even smaller screens */
@media (max-width: 480px) {
  #skills {
    padding: 20px;
  }
  
  .skill-row h3 {
    margin-top: 20px;
    font-size: 20px;
  }
  
  .skill-row p {
    font-size: 14px;
  }
}

/* For screens smaller than 768px (i.e., most mobile devices) */
@media (max-width: 767px) {
  .project {
    margin-bottom: 30px;
  }
  
  .project img {
    height: 100px;
    width: 100px;
  }
  
  .project .Project-text {
    width: 80%;
  }
}

